.gameDetail {
  width: 60%;
  margin: 30px auto 0px auto;
}

.detail__top {
  display: flex;
  justify-content: space-around;
}

.gameInfo {
  flex: 1;
}

.detail__top > .gympicture {
  flex: 2;
}

.detail__top > .gympicture > img {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  object-fit: scale-down;
  object-position: top right;
}