.gameDetail {
  width: 60%;
  margin: 30px auto 0px auto;
}

.detail__top {
  display: flex;
  justify-content: space-around;
  height: 400px;
}

.gameInfo {
  flex: 1;
}

.detail__top > .gympicture {
  flex: 2;
}

.detail__top > .gympicture > img {
  width: 600px;
  height: 400px;
  object-fit: contain;
  object-position: right top;
}

@media screen and (max-width: 1024px) {
  .gameDetail {
    width: 100vw;
  }
  
  .detail__top {
    flex-direction: column-reverse;
    height: fit-content;
  }
  
  .detail__top > .gympicture > img {
    width: 100%;
    height: inherit;
  }
  
}