.mygame {
  margin: 0px auto;
  width: 600px;
  min-height: 87vh;
}

.mar_100 {
  margin-top: 100px;
}

.mygame > div > h2 {
  margin: var(--large-margin-size) 0;
  font-size: var(--main-font-size);
  text-align: start;
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--main-color);
}

@media screen and (max-width: 1024px) {
  .mygame {
    width: 80%;
  }

  .mygame > div {
    margin: var(--mid-margin-size) 0;
  }

  .mygame > div > h2 {
    margin-top: 0 !important;
  }
}