.gameRecord__table {
  display: flex;
  flex-direction: column;
}

.RecordTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.RecordTable th {
  background-color: #FFAD4E;
  color: #ffffff;
  text-align: left;
}

.RecordTable th,
.RecordTable td {
  padding: 12px 15px;
}

.RecordTable tr {
  border-bottom: 1px solid #dddddd;
}

.RecordTable tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.RecordTable tr:last-of-type {
  border-bottom: 2px solid #FFAD4E;
}

.RecordTable tr.active-row {
  font-weight: bold;
  color: #FFAD4E;
}

.gameRecord__button td {
  background-color: #fff0e0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.gameRecord__button td:hover {
  cursor: pointer;
  background-color: #ffd6a9;
}