.main__gameList {
  width: 70vw;
  position: relative;
}

.gameList__List {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.gameList__game {
  width: 100%;
}

.gameList__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px
}
.gameList__game__Time {
  font-size: var(--mid-font-size);
  padding: var(--main-margin-size);
}

.gameList__game__Time > .gameList__start {
  text-align: center;
}

.gameList__game__Time > .gameList__end {
  text-align: end;
}

.gameList__game__name {
  font-size: var(--mid-font-size);
  font-weight: bold;
  margin-bottom: var(--small-margin-size);
}

.gameList__game__info {
  font-size: var(--main-font-size);
}

.gameList__game__facilities {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  gap : var(--main-margin-size);
}

.gameList__game__facility {
  display: inline-block;
  width: 100px;
  height: var(--btn-height);
  line-height: calc(var(--btn-height) - 4px);
  border: 2px solid var(--main-color);
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: var(--main-font-size);
  color: var(--dark-orange);
  cursor: pointer;
  background-color: var(--grey-color);
  box-shadow: 3px 3px 0 0 rgba(5, 5, 5, .2);
}

.gameList__state__button {
  display: inline-block;
  width: 10vw;
  height: var(--btn-height);
  margin-right: var(--main-margin-size);
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: var(--main-font-size);
  background: var(--main-color);
  color: white;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .main__gameList {
    width: 80vw;
  }
  
  .gameList__content {
    height: 70px
  }
  
  .gameList__game__Time {
    font-size: var(--small-font-size);
  }
  
  .gameList__game__info {
    font-size: var(--small-font-size);
  }
  
  .gameList__game__name {
    font-size: var(--main-font-size);
    font-weight: bold;
    margin-bottom: var(--small-margin-size);
  }
  
  .gameList__game__info > .gameList__game__location > span {
    display: none;
  }
  
  .gameList__game__facilities {
    display: none;
  }
  
  .gameList__state__button {
    display: inline-block;
    width: 30px;
    height: 60px;
    line-height: 25px;
    padding: 0 1px;
    font-size: var(--small-font-size);
  }
  .gameList__state__button {
    margin-right: 0;
  }
}