.main__dateCarousel__Carousel {
  display: flex;
  align-items: center;
  width: 70vw;
  overflow: hidden;
  margin-left: var(--small-margin-size);
  margin-right: var(--small-margin-size);
  height: 100px;
  position: relative;
}

.main__dateCarousel__element {
  position: relative;
  text-align: center;
  padding: 4vw;
  font-weight: bold;
  font-size: var(--mid-font-size);
  transition: 0.5s;
}

.main__dateCarousel__element:hover {
  cursor: pointer;
  background-color: var(--grey-color);
  transition: 0.5s;
}

.main__dateCarousel__date {
  width: 2vw;
}

.main__dateCarousel__date div {
  text-align: center;
}

.day_red {
  color: red;
}

.day_blue {
  color: blue;
}

.day_select {
  color: var(--main-color);
  transform: scale(1.5);
}

.carouselArrow {
  position: absolute;
  left: 7vw;
  width: 1.5vw;
}
.carouselArrow:hover {
  z-index: 1;
  cursor: pointer;
  width: 1.8vw;
  transition: 0.2s;
}

.carouselArrow__left {
  position: absolute;
  left: 0;
}

.carouselArrow__right {
  position: absolute;
  left: 68.5vw;
}

@media screen and (max-width:1024px) {
  .main__dateCarousel__Carousel {
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
  }
  
  .main__dateCarousel__element {
    font-size: var(--small-font-size);
  }

  .carouselArrow__left {
    left: 0;
  }
  
  .carouselArrow__right {
    left: 78.5vw;
  }
  
}