.main__player_common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .main__player_common {
    width: 100%;
  }
}