.main__gameList {
  width: 70vw;
  position: relative;
}

.gameList__List {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  position: relative;
}

.gameList__game {
  width: 70vw;
}

.gameList__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px
}

.gameList__game__Time {
  font-size: var(--mid-font-size);
  padding: var(--main-margin-size);
}

.gameList__end {
  margin-left: var(--mid-margin-size);
}

.gameList__game__name {
  font-size: var(--mid-font-size);
  font-weight: bold;
  margin-bottom: var(--small-margin-size);
}

.gameList__game__info {
  font-size: var(--main-font-size);
}

.gameList__game__facilities {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  gap : var(--main-margin-size);
}

.gameList__game__facility {
  display: inline-block;
  width: 100px;
  height: var(--btn-height);
  line-height: var(--btn-height);
  border: 2px solid var(--main-color);
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: var(--main-font-size);
  color: var(--dark-orange);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(5, 5, 5, .2);
}

.gameList__state__button {
  display: inline-block;
  width: 10vw;
  height: var(--btn-height);
  height: var(--btn-height);
  margin-right: var(--main-margin-size);
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: var(--main-font-size);
  background: var(--main-color);
  color: white;
  cursor: pointer;
}