/* 파일 업로드 스타일링 */
.upload-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.registerForm__center > .register__email {
  position: relative;
}

.register__bank {
  margin-bottom: var(--main-margin-size);
}

.register__bank > label,
.register__account > label,
.register__businessRegistration > label {
  font-size: var(--mid-font-size);
}

.register__businessRegistration {
  margin: 0 0 var(--main-margin-size);
  width: 340px;
  position: relative;
}

.registerForm__center > button,
.registerForm__center > .registerForm__snsLogin > button {
  width: 340px;
  font-size: var(--main-font-size);
}

.register__businessRegistration > .businessRegistration__button {
  display: block;
  text-align: center;
  font-size: var(--main-font-size);
  font-weight: normal;
  background-color: var(--main-color);
  color: white;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 1024px) {
  .register__businessRegistration {
    width: 80vw;
  }
}