.gameInfo {
  margin-right: var(--main-margin-size);
  /* border-bottom: 1px solid black; */
}

.gameInfo > div {
  margin-bottom: var(--main-margin-size);
}

.gameInfo > .gamedate {
  font-size: var(--large-font-size);
}

.gameInfo > .gyminfo {
  font-size : var(--main-font-size);
}

.gameInfo > .gyminfo > #gymname {
  color: var(--main-color);
  font-weight: bold;
}

.gameInfo > .gyminfo > #gymaddress > button {
  color: var(--blue);
  border: none;
  background-color: white;
  cursor: pointer;
}

.gameInfo > .gameuser > p {
  font-size: var(--main-font-size);
}

.gameInfo > .gameuser > p > span {
  font-size: var(--large-font-size);
  color: var(--main-color);
  font-weight: bold;
}

.participants {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .gameInfo {
    margin-right: 0px;
  }
  
  .gameInfo > div {
    margin-bottom: var(--main-margin-size);
    margin-left: var(--main-margin-size);
  }
  
  .gameInfo > .gamedate {
    font-size: var(--large-font-size);
  }
  
  .gameInfo > .gyminfo {
    font-size : var(--main-font-size);
  }
  .gameInfo > .gameuser > p {
    font-size: var(--main-font-size);
  }
  
  .gameInfo > .gameuser > p > span {
    font-size: var(--large-font-size);
  }
  
  .participants {
    display: flex;
    flex-wrap: wrap;
  }
  
}