.gameInfo {
  margin-right: 20px;
}

.gameInfo > div {
  margin-bottom: 18px;
}

.gameInfo > .gamedate {
  font-size: 24px;
  font-weight: bold;
}

.gameInfo > .gyminfo {
  font-size : 14px;
}

.gameInfo > .gyminfo > #gymname {
  color: #ffad4e;
  font-weight: bold;
}

.gameInfo > .gyminfo > #gymaddress > button {
  font-weight: bold;
  border: none;
  background-color: white;
  cursor: pointer;
}

.gameInfo > .gameuser > p {
  font-size: 18px;
}

.gameInfo > .gameuser > p > span {
  font-size: 24px;
  color: #ffad4e;
  font-weight: bold;
}

.participants {
  display: flex;
  flex-wrap: wrap;
}

/* 현웅 */

.introduce {
  color: #ea7c31;
  text-align: left;
  margin-left: 20%;
  margin-top: 10px;
  font-size: 20px;
  line-height: 250%;
}

.gymInfo input {
  background-color: #eaeaea;
  width: 130px;
  height: 30px;
  border-radius: 10%;
  text-align: center;
  font-size: 20px;
  border: 0px;
}

.gymInfo input::placeholder {
  color: #ea7c31;
  font-weight: bold;
}
.facilities__div {
  display: inline-block;
}

.facilities {
  margin: 30px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ffefe3;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd3b5;
}

.no {
  background-color: gray;
  border: 1px solid gray;
}

#water {
  background-image: url('../../components/images/water.png');
}

#basketball {
  background-image: url('../../components/images/basketball.png');
}

#scoreboard {
  background-image: url('../../components/images/scoreboard.png');
}

#parking {
  background-image: url('../../components/images/parking.png');
}

#shower {
  background-image: url('../../components/images/shower.png');
}

#airconditioner {
  background-image: url('../../components/images/airconditioner.png');
}
