.gymInfo {
  margin-top: 50px;
}

.gymInfo > p {
  color: #ffad4e;
  font-size: 24px;
  line-height: 250%;
  font-weight: bold;
}

.gymInfo > p > span {
  background-color: #eaeaea;
  color: #F28A2E;
  padding: 5px 30px;
  border-radius: 10px;
}

.facilities__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0 50px;
}

.facilities__container .facility {
  width: 100px;
  height: 100px;
  border: 1px solid #FFD3B5;
  border-radius: 50%;
}

.facilities__container > div > p {
  text-align: center;
  margin-top: 10px;
}

#water {
  background: url('../../components/images/water.png') no-repeat center;
  background-color: #FFEFE3;
}

#basketball {
  background: url('../../components/images/basketball.png') no-repeat center;
  background-color: #FFEFE3;
}

#scoreboard {
  background: url('../../components/images/scoreboard.png') no-repeat center;
  background-color: #FFEFE3;
}

#parking {
  background: url('../../components/images/parking.png') no-repeat center;
  background-color: #FFEFE3;
}

#shower {
  background: url('../../components/images/shower.png') no-repeat center;
  background-color: #FFEFE3;
}

#airconditioner {
  background: url('../../components/images/airconditioner.png') no-repeat center;
  background-color: #FFEFE3;
}

.facilities__container .no::after{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%);
}

.gym__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 50px 0;
  display: flex;
}

.gym__footer > div {
  width: 50%;
  padding-left: 50px;
}

.gym__footer > div > p {
  font-size: 24px;
  font-weight: bold;
  color: #ffad4e;
  margin-bottom: 20px;
}

.gym__footer li {
  margin-left: 40px;
  margin-bottom: 10px;
}

.gym__footer > .right {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.gym__footer > .right > ul {
  list-style: none;
}

.gym__footer > .right > ul:nth-child(2) {
  margin-bottom: 40px;
}

.gymInfo .reservation__btn {
  display: block;
  margin: 50px auto 50px;
  width: 50%;
  height: var(--btn-height);
  border: none;
  border-radius: 5px;
  background-color: #F28A2E;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .gymInfo {
    margin-top: var(--main-margin-size);
  }
  
  .gymInfo > p {
    margin-left: var(--main-margin-size);
    font-size: var(--large-font-size);
    line-height: 200%;
  }
  
  .gymInfo > p > span {
    display: inline-block;
  }
  
  .facilities__container {
    flex-wrap: wrap;
    margin: var(--mid-margin-size) 0 var(--mid-margin-size);
    row-gap: 20px;
  }
  
  .gym__footer {
    flex-direction: column;
    padding: var(--main-margin-size) 0;
  }
  
  .gym__footer > div {
    width: 90%;
    margin-left: var(--main-margin-size);
    padding: -0;
  }
  
  .gym__footer > div > p {
    font-size: var(--large-font-size);
    margin-bottom: 7px;
  }

  .gym__footer > div:nth-child(2) > p {
    margin-left: var(--main-margin-size);
  }
  
  .gym__footer > .right {
    margin-left: 0 !important;
    width: 100%;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: var(--main-margin-size);
    margin-top: var(--main-margin-size);
  }
  
  .gym__footer > .right > ul {
    list-style: none;
  }
  
  .gym__footer > .right > ul:nth-child(2) {
    margin-bottom: var(--main-margin-size);
  }
  
  .gymInfo .reservation__btn {
    width: 90%;
    font-size: var(--main-font-size);
  }

  .gym__footer li {
    margin-left: var(--large-margin-size);
    margin-bottom: 5px;
  }
  
}