.gymInfo {
  padding: 50px 0;
  border-bottom: 1px solid black;
}

.gymInfo > p {
  color: #ffad4e;
  font-size: 24px;
  line-height: 250%;
  font-weight: bold;
}

.gymInfo > p > span {
  background-color: #eaeaea;
  color: #ea7c31;
  padding: 5px 30px;
  border-radius: 10px;
}

.facilities__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.facilities__container {
  margin-top: 40px;
}

.facilities__container .facility {
  width: 100px;
  height: 100px;
  border: 1px solid #FFD3B5;
  border-radius: 50%;
}

.facilities__container > div > p {
  text-align: center;
  margin-top: 10px;
}

#water {
  background: url('../../components/images/water.png') no-repeat center;
  background-color: #FFEFE3;
}

#basketball {
  background: url('../../components/images/basketball.png') no-repeat center;
  background-color: #FFEFE3;
}

#scoreboard {
  background: url('../../components/images/scoreboard.png') no-repeat center;
  background-color: #FFEFE3;
}

#parking {
  background: url('../../components/images/parking.png') no-repeat center;
  background-color: #FFEFE3;
}

#shower {
  background: url('../../components/images/shower.png') no-repeat center;
  background-color: #FFEFE3;
}

#airconditioner {
  background: url('../../components/images/airconditioner.png') no-repeat center;
  background-color: #FFEFE3;
}

.facilities__container .no::after{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%);
}