.participant {
    position: relative;
}

.participant > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.participant > .userinfo {
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    border: 4px solid var(--grey);
    background-color: white;
    border-radius: 20px;
    width: 200px;
    z-index: 3;
}

.about__user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.about__user > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.about__user > div > p:nth-child(1) {
    font-weight: normal;
    font-size: var(--mid-font-size);
}

.about__user > div > p:nth-child(2) {
    font-size: var(--main-font-size);
}

.about__position {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about__position > .istrue {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 50vmin;
    color: white;
}

.about__position > .isfalse {
    background-color: var(--grey);
    padding: 5px 10px;
    border-radius: 50vmin;
    color: white;
}

.userinfo > .points {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.userinfo > .points > div > p:nth-child(2) {
    margin-top: 5px;
    color: var(--main-color);
    font-size: var(--large-font-size);
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .gameReview__manner > div > .teaminfo {
        width: 100%;
    }

    .participant > .userinfo {
        width: 150px;
    }
    
    .about__user > img {
        width: 40px;
        height: 40px;
    }
    
    .about__user > div > p:nth-child(1) {
        font-weight: bold;
    }
    
    .about__user > div > p:nth-child(2) {
        font-size: var(--main-font-size);
    }
    
    .about__position {
        margin-top: var(--main-margin-size);
    }
    
    .about__position > .istrue {
        font-size: 12px !important;
        width: 45px !important;
        height: 25px;
        line-height: 25px;
        padding: 0 !important;
    }
    
    .about__position > .isfalse {
        height: 25px;
        line-height: 25px;
        font-size: 12px !important;
        width: 45px !important;
        padding: 0 !important;
    }
    
    .userinfo > .points {
        margin: 10px 0;
    }
    
    .userinfo > .points > div {
        font-size: var(--main-font-size);
    }

    .userinfo > .points > div > p:nth-child(2) {
        font-size: var(--mid-font-size);
    }
    
}