.teaminfo {
    margin: var(--xlarge-margin-size) 0;
}

.teaminfo > p {
    color: var(--main-color);
    font-weight: normal;
    font-size: var(--mid-font-size);
    margin-left: var(--main-margin-size);
}

.teaminfo > .teams {
    display: flex;
    justify-content: space-around;
}

.teaminfo > .teams > .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.teaminfo > .teams > .team > p:nth-child(1) {
    background-color: var(--main-color);
    margin-top: var(--large-margin-size);
    color: white;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: var(--main-font-size);
}

.teaminfo > .teams > .team > .members {
    display: flex;
    justify-content: space-around;
    margin: var(--small-margin-size) 0;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: var(--main-margin-size);
}

.teaminfo > .teams > .team > .members > .member {
    position: relative;
}

.teaminfo > .teams > .team > .members > .member > img {
    width: 100px;
}

.teaminfo > .teams > .team > .members > .member > .userinfo {
    display: none;
}

.teaminfo > .teams > .team > p:nth-child(3) {
    margin-top: var(--small-margin-size);
    font-size: var(--main-font-size);
}

.teaminfo > .teams > .team > p:nth-child(3) > span {
    font-size: var(--large-font-size);
    color: var(--main-color);
    font-weight: bold;
}

.teaminfo > .teams > .team > .members > .member > .userinfo {
    display: none;
    position: absolute;
    text-align: center;
    left: 100px;
    top: 0;
    border: 1px solid var(--grey);
    background-color: white;
    border-radius: 20px;
    width: 200px;
    z-index: 1;
}

.about__user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.about__user > img {
    width: 70px;
}

.about__user > div > p:nth-child(1) {
    font-weight: bold;
}

.about__user > div > p:nth-child(2) {
    font-size: 14px;
}

.about__position {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about__position > .istrue {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 50vmin;
    color: white;
}

.about__position > .isfalse {
    background-color: #c0c0c0;
    padding: 5px 10px;
    border-radius: 50vmin;
    color: white;
}

.userinfo > .points {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.userinfo > .points > div > p:nth-child(2) {
    margin-top: 5px;
    color: var(--main-color);
    font-size: var(_);
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .teaminfo > .teams {
        flex-direction: column;
        align-items: center;
    }
}