.gVdmEl {
    max-width: 400px;
}

.ikiVZk {
    background-color: var(--main-color-op) !important;
}

.iWUJHN {
    background-color: var(--main-color) !important;
}

.fxbXHC {
    font-size: var(--small-font-size) !important;
}

.hibjgT {
    justify-content: space-around !important;
}

.people_select_box > .min_people,
.people_select_box > .max_people {
    position: relative;
    width: fit-content;
}

.people_select_box > .min_people > input,
.people_select_box > .max_people > input {
    text-align: center;
    appearance: none;
    width: 200px;
}

.people_select_box > .min_people > span:nth-child(2),
.people_select_box > .max_people > span:nth-child(2) {
    content: "-";
    text-align: center;
    color: var(--main-color);
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.people_select_box > .min_people > span:nth-child(3),
.people_select_box > .max_people > span:nth-child(3) {
    content: "-";
    text-align: center;
    color: var(--main-color);
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.game_register_container {
    margin: 0 auto;
    width: 50vw;
    font-size: var(--main-font-size);
    margin: var(--xlarge-margin-size) auto;
}

.game_register_container > h1 {
    text-align: start;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: normal;
    margin-bottom: var(--xxlarge-margin-size);
    color: var(--main-color)
}

.game_register_container > .game__container > div {
    margin: var(--large-margin-size) 0;
}

.game__container > div > h4 {
    margin-bottom: var(--small-margin-size);
    font-size: var(--main-font-size);
    color: var(--main-color);
    font-weight: normal;
}

.game__container > div input {
    height: var(--btn-height);
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: var(--grey-color);
    text-align: end;
    padding-right: var(--small-margin-size);
}

.game__container > .date_select_box > input {
    width: 200px;
    text-align: center;
    
}

.game__container > div:nth-child(3) input ~ span {
    margin: 0 var(--small-margin-size);
    color: var(--main-color);
}

.game__container > .gym_select_box > select {
    width: 200px;
    text-align-last: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.game__container > .gym_select_box > select:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}

.game__container > .time_select_box > .time_container {
    display: flex;
    align-items: center;
}

.game__container > .time_select_box > .time_container h5 {
    color: var(--main-color);
    margin-bottom: var(--small-margin-size);
    font-weight: normal;
}

.game__container > .time_select_box > .time_container p {
    margin: 0 var(--small-margin-size);
    transform: translate(0, 10px);
}

.fee_select_box > input {
    width: 200px !important;
    appearance: none !important;
}

.game__container > button {
    display: block;
    width: 300px;
    height: var(--btn-height);
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .gVdmEl {
        max-width: 350px;
    }
    
    .game_register_container {
        width: 90vw;
        font-size: var(--small-font-size);
    }

    .game_register_container > h1 {
        margin-bottom: var(--mid-margin-size);
    }
    
    .game_register_container > .game__container > div {
        margin: var(--mid-margin-size) 0;
    }
    
    .game__container > div > h4 {
        margin-bottom: var(--small-margin-size);
    }

    .game__container > button {
        width: 100%;
    }
}