.registerGym__div {
  width: 100%;
  margin: 0;
  background-color: var(--grey-color);
  padding-top: var(--mid-margin-size);
}

.registerGym__div > .gym__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: var(--mid-margin-size) auto;
  border-radius: 5px;
  width: 600px;
  background-color: white;
}

.registerGym__div > .gym__container > h1 {
  margin: var(--large-margin-size) 0;
  font-size: var(--large-font-size);
}

.registerGym__div > .gym__container > .registerGymForm__div {
  margin: 0 var(--large-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div {
  margin: var(--mid-margin-size) 0;
  font-size: var(--main-font-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > h4 {
  font-size: var(--mid-font-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > p,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > p {
  margin-bottom: var(--main-margin-size);
}


.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(5) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(6) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(7) > h4 {
  margin-bottom: var(--main-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > p {
  font-size: var(--small-font-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > input,
.registerGym__div > .gym__container > .registerGymForm__div > div > div > input,
.registerGym__div > .gym__container > .registerGymForm__div > div > textarea {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  height: var(--btn-height);
  padding: 0 var(--main-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > input {
  width: 200px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea {
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea:focus {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea {
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea:focus {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div > input {
  width: 100px;
  margin-right: var(--main-margin-size);
  text-align: end;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > span {
  margin: 0 var(--main-margin-size);
  font-weight: bold;
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress {
  display: flex;
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div {
  margin-right: var(--main-margin-size)
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > select,
.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > input {
  width: 100px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  height: var(--btn-height);
  line-height: var(--btn-height);
  background-color: var(--grey-color);
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > input {
  width: 200px;
  padding-left: var(--small-margin-size);
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility {
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
}


.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .clicked {
  background-color: var(--main-color);
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility:nth-child(1) {
  border-radius: 5px 0 0 0;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility:nth-child(3) {
  border-radius: 0 5px 0 0;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility:nth-child(4) {
  border-radius: 0 0 0 5px;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility:nth-child(6) {
  border-radius: 0 0 5px 0;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility > .img_box {
  border: 1px solid var(--main-color);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD3B5;
  margin-bottom: var(--main-margin-size);
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.gym__container > .registerGymForm__div > button {
  display: block;
  width: 200px;
  height: var(--btn-height);
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: var(--large-margin-size) auto;
  cursor: pointer;
}

.gympictures__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .registerGym__div > .gym__container {
    margin: var(--small-margin-size) auto;
    width: 90%;
  }
  
  .registerGym__div > .gym__container > h1 {
    margin: var(--main-margin-size) 0;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div {
    width: 90%;
    margin: 0;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div {
    margin: var(--mid-margin-size) 0;
    font-size: var(--main-font-size);
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div > h4 {
    font-size: var(--mid-font-size);
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > p,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > p {
    margin-bottom: var(--small-margin-size);
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div {
    width: 81vw;
  }
  
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(5) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(6) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(7) > h4 {
    margin-bottom: var(--small-margin-size);
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > input {
    width: 100%;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea {
    width: 100%;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea {
    width: 100%;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div > input {
    width: 40%;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress {
    flex-wrap: wrap;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div {
    margin-right: var(--main-margin-size)
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > select,
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > input {
    width: 100%;
  }
  
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div:nth-child(3) {
    margin-top: var(--small-margin-size);
  }

  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > div > input {
    width: 81vw;
    padding-left: var(--small-margin-size);
  }
  
  .gym__container > .registerGymForm__div > .gymfacilities__box > .facilities {
    width: 100%;
  }
  
  .gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility {
    width: calc(100%/3);
    max-width: 100px;
  }
  
  .gym__container > .registerGymForm__div > .gympicture__box > .gympictures {
    width: 100%;
  }
  
  .gym__container > .registerGymForm__div > .gympicture__box > .gympictures > .gympicture {
    width: calc(100%/3);
  }
  
  .gym__container > .registerGymForm__div > button {
    width: 100%;
  }
}