.registerGym__div {
  width: 100%;
  margin: 0;
  padding-top: var(--mid-margin-size);
}

.registerGym__div > .gym__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--mid-margin-size) auto;
  border-radius: 5px;
  width: 450px;
}

.registerGym__div > .gym__container > h1 {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-position: under;
  display: inline-block;
  width: 100%;
  margin: var(--large-margin-size) 0;
  font-size: var(--large-font-size);
  font-weight: normal;
}

.registerGym__div > .gym__container > .registerGymForm__div {
  margin: 0 var(--large-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div {
  margin: var(--mid-margin-size) 0;
  font-size: var(--main-font-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > h4 {
  font-size: var(--mid-font-size);
  font-weight: normal;
  color: var(--main-color);
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > p,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > p {
  margin-bottom: var(--main-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(5) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(6) > h4,
.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(7) > h4 {
  margin-bottom: 0;
}

.registerGym__div > .gym__container > .registerGymForm__div > div > p {
  font-size: 10px;
  color: var(--grey);
  margin-bottom: var(--small-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > input,
.registerGym__div > .gym__container > .registerGymForm__div > div > div > input,
.registerGym__div > .gym__container > .registerGymForm__div > div > div > div > input,
.registerGym__div > .gym__container > .registerGymForm__div > div > textarea {
  border: 1px solid var(--grey);
  border-radius: 5px;
  height: 40px;
  padding: 0 var(--main-margin-size);
}

.registerGym__div > .gym__container > .registerGymForm__div > div > textarea {
  resize: none;
  height: 70px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div > textarea::placeholder {
  line-height: 68px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > input {
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea {
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea:focus {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea {
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea:focus {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div > div {
  position: relative;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div > div > span {
  position: absolute;
  top: 0;
  line-height: 40px;
  right: 5px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div > div > input {
  width: 150px;
  text-align: end;
  padding-right: 24px;
}

.registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) span {
  color: var(--main-color);
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > .sido__box {
  width:130px;
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress > .gugun__box {
  width:130px;
  margin-left: 31px;
}

.registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress {
  display: flex;
}

.registerGym__div
  > .gym__container
  > .registerGymForm__div
  > .gymaddress__box
  > .gymaddress
  > div
  > select,
.registerGym__div
  > .gym__container
  > .registerGymForm__div
  > .gymaddress__box
  > .gymaddress
  > div
  > input {
  width: 100px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  height: 40px;
  line-height: var(--btn-height);
  background-color: var(--grey-color);
}

.registerGym__div
  > .gym__container
  > .registerGymForm__div
  > .gymaddress__box
  > .gymaddress
  > div
  > input {
  width: 168px;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility {
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility > .img_box {
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--main-margin-size);
  position: relative;
}

.gym__container
  > .registerGymForm__div
  > .gymfacilities__box
  > .facilities
  > .facility
  > .img_box
  > .img_box_checked {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  position: absolute;
  display: none;
  z-index: -1;
}

.gym__container
  > .registerGymForm__div
  > .gymfacilities__box
  > .facilities
  > .facility
  > .img_box
  > .img_box_checked
  > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility > .clicked {
  border-radius: 35px;
  border: 1px solid var(--main-color);
}

.gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.gym__container > .registerGymForm__div > button {
  display: block;
  width: 200px;
  height: var(--btn-height);
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: var(--large-margin-size) auto;
  cursor: pointer;
}

.gympictures__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gympicture__box > input[type="file"] {
  line-height: 38px;
}

@media screen and (max-width: 1024px) {
  .registerGym__div > .gym__container {
    margin: var(--small-margin-size) auto;
    width: 90%;
  }

  .registerGym__div > .gym__container > h1 {
    margin: var(--main-margin-size) 0;
    width: 90%;
  }

  .registerGym__div > .gym__container > .registerGymForm__div {
    width: 90%;
    margin: 0;
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div {
    margin: var(--mid-margin-size) 0;
    font-size: var(--main-font-size);
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div > h4 {
    font-size: var(--main-font-size);
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > p,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > p {
    margin-bottom: var(--small-margin-size);
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(4) > div {
    width: 81vw;
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(5) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(6) > h4,
  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(7) > h4 {
    margin-bottom: 0;
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(1) > input {
    width: 100%;
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(2) > textarea {
    width: 100%;
  }

  .registerGym__div > .gym__container > .registerGymForm__div > div:nth-child(3) > textarea {
    width: 100%;
  }

  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > div:nth-child(4)
    > div
    > div
    > input {
    width: 130px;
    text-align: end;
  }
  .registerGym__div > .gym__container > .registerGymForm__div > .gymaddress__box > .gymaddress {
    flex-wrap: wrap;
  }

  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > .gymaddress
    > div {
    margin-right: var(--main-margin-size);
    width: 40%;
  }

  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > .gymaddress__box
    > .gymaddress
    > div
    > select,
  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > .gymaddress__box
    > .gymaddress
    > div
    > input {
    width: 100%;
    min-width: 110px;
    text-align-last: center;
  }

  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > .gymaddress__box
    > .gymaddress
    > div:nth-child(3) {
    margin-top: var(--small-margin-size);
  }

  .registerGym__div
    > .gym__container
    > .registerGymForm__div
    > .gymaddress__box
    > .gymaddress
    > div
    > input {
    width: 81vw;
    padding-left: var(--small-margin-size);
  }

  .gym__container > .registerGymForm__div > .gymfacilities__box > .facilities {
    width: 100%;
  }

  .gym__container > .registerGymForm__div > .gymfacilities__box > .facilities > .facility {
    width: calc(100% / 3);
    max-width: 100px;
  }

  .gym__container > .registerGymForm__div > .gympicture__box > .gympictures {
    width: 100%;
  }

  .gym__container > .registerGymForm__div > .gympicture__box > .gympictures > .gympicture {
    width: calc(100% / 3);
  }

  .gym__container > .registerGymForm__div > button {
    width: 100%;
  }
}
