.email__info {
    margin: 20px 0;
}

.email__info > input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 300px;
    height: 35px;
}

.sendpw > button {
    font-weight: bold;
    font-size: 14px;
    width: 300px;
    color: white;
    background-color: #ffad4e;
    border: none;
    border-radius: 5px;
    height: 30px;
}