.mygym {
  margin: var(--large-margin-size);
  width: 600px;
}

.mygym > .mygym__container {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-size: var(--xlarge-font-size);
  margin-bottom: var(--large-margin-size);
}

.mygym > .mygym__container > h3 {
  font-weight: normal !important;
  color: var(--main-color);
}

.mygym > .mygym__container > button {
  border: none;
  background-color: white;
  text-decoration: underline;
  text-underline-position: under;
  font-size: var(--main-font-size);
  color: var(--main-color);
  cursor: pointer;
}

.mygym > .mygym__list {
  margin: var(--main-margin-size) 0;
}

.mygym > .mygym__list > .list__title {
  display: flex;
  justify-content: space-around;
  font-size: var(--large-font-size);
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  padding-bottom: var(--small-margin-size);
  text-align: center;
}

.mygym > .mygym__list > .gym__info {
  display: flex;
  justify-content: space-around;
  font-size: var(--main-font-size);
  margin-top: var(--main-margin-size);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: var(--main-margin-size);
  text-align: center;
}

.mygym > .mygym__list > .list__title > p:nth-child(1),
.mygym > .mygym__list > .gym__info > p:nth-child(1) {
  width: 150px;
}

.mygym > .mygym__list > .list__title > p:nth-child(2),
.mygym > .mygym__list > .gym__info > p:nth-child(2) {
  width: 300px;
}

.mygym > .mygym__list > .list__title > p:nth-child(3),
.mygym > .mygym__list > .gym__info > p:nth-child(3) {
  width: 150px;
}

.mygym > .mygym__list > .gym__info > p:nth-child(1) {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .mygym {
    margin: var(--large-margin-size);
    width: 90vw;
  }
  
  .mygym > .mygym__container {
    font-size: var(--mid-font-size);
  }
  
  .mygym > .mygym__container > button {
    font-size: var(--small-font-size);
  }
}