.GameDatail__Business_top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: var(--small-margin-size);
}

.GameDatail__Business_top > span {
  font-size: var(--main-font-size);
  margin: 0 var(--small-margin-size);
}

.GameDatail__Business_table {
  width: 80%;
  margin: 10px auto;
  border: 0;
  border-collapse: separate; 
  border-spacing: 0 5px;
}

.GameDatail__Business_table > thead > th {
  color: var(--main-color);
  font-size: var(--small-font-size);
  border-bottom: 1px solid var(--main-color); 
  border-collapse: separate; 
  border-spacing: 5px 5px;
  padding: var(--small-margin-size) 0px var(--small-margin-size) 0px;
}

.GameDatail__Business_table > tbody > tr > td {
  height: 70px;
  text-align: center;
  font-size: var(--small-font-size);
}


.GameDatail__Business_table > tbody > tr > td > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.GameDatail__Business_table_Roster > div,
.GameDatail__Business_table_Position {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.GameDatail__Business_red {
  color: var(--red);
}

.GameDatail__Business_table_Roster img {
  width: 15px;
}

.GameDatail__Business_button {
  cursor: pointer;
}

.activate {
  font-weight: bold;
}