.MainBusiness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.MainBusiness > div {
  width: 70vw;
}

.MainBusiness__top {
  display: flex;
  justify-content: flex-end;
}

.MainBusiness__top_links {
  display: flex;
}

.MainBusiness__top_links div {
  margin: 0px 5px 0px 5px;
}

.MainBusiness section > article > .date {
  width: 100%;
  height: var(--btn-height);
  line-height: var(--btn-height);
  font-size: var(--mid-font-size);
  font-weight: bold;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  margin: var(--mid-margin-size) 0 0;
}

.MainBusiness section > article > .today {
  background-color: var(--main-color);
}



.MainBusiness section > article > .game_container {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--main-font-size);
  border-bottom: 1px solid black;
}

.MainBusiness section > article > .game_container > .game__time,
.MainBusiness section > article > .game_container > .gym__info {
  flex: 2;
}

.MainBusiness section > article > .game_container > .game__time {
  text-align: center;
  font-size: var(--large-font-size);
}

.MainBusiness section > article > .game_container > .gym__info > h5 {
  font-size: var(--main-font-size);
  margin-bottom: var(--small-margin-size);
}

.MainBusiness section > article > .game_container > .people__info > .max_people,
.MainBusiness section > article > .game_container > .people__info > .min_people {
  margin: 0 auto;
  height: 20px;
  width: fit-content;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px;
}

.MainBusiness section > article > .game_container > .people__info > .max_people {
  background-color: blue;
  margin-bottom: 3px;
}

.MainBusiness section > article > .game_container > .people__info > .min_people {
  background-color: red;
}

.MainBusiness section > article > .game_container > .participant {
  flex: 3;
  font-size: var(--mid-font-size);
  text-align: center;
}

.MainBusiness section > article > .game_container > .participant span {
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--large-font-size);
}

.MainBusiness section > article > .game_container > .people__info,
.MainBusiness section > article > .game_container > .game__btn {
  flex: 1;
}

.MainBusiness section > article > .game_container > .game__btn {
  height: var(--btn-height);
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  border: none;
}

@media screen and (max-width: 1024px) {
  .MainBusiness > div {
    width: 90vw;
  }
  
  .MainBusiness__top {
    font-size: var(--main-font-size);
  }

  .MainBusiness section > article > .game_container {
    font-size: var(--small-font-size);
  }
  
  .MainBusiness section > article > .game_container > .game__time {
    flex: 1;
  }

  .MainBusiness section > article > .game_container > .gym__info {
    flex: 2.5;
  }
  
  .MainBusiness section > article > .game_container > .game__time {
    font-size: var(--main-font-size);
  }

  .MainBusiness section > article > .game_container > .people__info {
    display: none;
  }
  
  .MainBusiness section > article > .game_container > .participant {
    flex: 3;
    font-size: var(--main-font-size);
    text-align: center;
  }
  
  .MainBusiness section > article > .game_container > .participant span {
    font-size: var(--mid-font-size);
  }
  
  .MainBusiness section > article > .game_container > .game__btn {
    height: 90%;
    font-size: var(--main-font-size);
  }
}