.fl {
    text-align: center;
}

.fl__text {
    font-size: var(--large-font-size);
}

.fl__text > div {
    margin-top: var(--mid-margin-size);
}

.fl__data {
    width: 450px;
    margin: var(--large-margin-size) auto 0;
    border: 1px solid #ffad4e;
    border-radius: 5px;
}

.data__container {
    margin: var(--mid-margin-size) auto;
    width: fit-content;
}

.data__container > div {
    margin-bottom: var(--large-margin-size);
    text-align: start;
}

.fl__data label {
    font-size: var(--mid-font-size);
}

#height__input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--grey-color);
    width: 100px;
    height: var(--btn-height);
    margin-top: var(--small-margin-size);
    text-align: right;
    padding-right: var(--small-margin-size);
}

#height__input:focus {
    outline: none;
}

.position__box span {
    font-size: var(--small-font-size);
}

.ps__checkbox {
    margin-top: var(--main-margin-size);
}
.ab__checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--main-margin-size);
}

.ps__checkbox > input {
    display: none;
}

.ab__checkbox > input {
    display: none;
}

.ps__checkbox > span {
    font-size: var(--main-font-size);
    margin-right: var(--main-margin-size);
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 5px var(--mid-margin-size);
    background-color: var(--grey-color);
}

.ab__checkbox > span {
    font-size: var(--main-font-size);
    margin-right: var(--main-margin-size);
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 5px var(--mid-margin-size);
    background-color: var(--grey-color);
    text-align: center;
}

.ab__checkbox:checked > span {
    background-color: var(--main-color);
    color: white;
}

.checked {
    background-color: var(--main-color) !important;
    color: white;
}

.data__container > button {
    width: 60%;
    background-color: var(--main-color);
    border: none;
    color: white;
    height: var(--btn-height);
    border-radius: 5px;
    font-size: var(--main-font-size);
    cursor: pointer;
}

.location__container {
    display: flex;
    flex-direction: column;
}

.location__container > div:nth-child(1) {
    font-size: var(--mid-font-size);
}

.location__container > div:nth-child(2) {
    font-size: var(--small-font-size);
    margin-top: 5px;
}

.location__container > .location__data {
    margin-top: var(--main-margin-size);
    font-size: var(--main-font-size);
}

.location__container > .location__data > div {
    margin: var(--small-margin-size) 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .fl__text {
        font-size: var(--small-font-size);
    }
    
    .fl__text > div {
        margin-top: var(--small-margin-size);
    }
    
    .fl__data {
        width: 100%;
        max-width: 400px;
        margin: var(--large-margin-size) auto 0;
        border: 1px solid #ffad4e;
        border-radius: 5px;
    }
    
    .data__container {
        margin: var(--mid-margin-size) auto;
    }
    
    .data__container > div {
        margin-bottom: var(--main-margin-size);
        text-align: center;
    }
    
    .fl__data label {
        font-size: var(--mid-font-size);
    }
    
    #height__input {
        border: 1px solid var(--main-color);
        border-radius: 5px;
        background-color: var(--grey-color);
        width: 83%;
        height: var(--btn-height);
        margin-top: var(--small-margin-size);
        text-align: right;
        padding-right: var(--small-margin-size);
    }
    
    #height__input:focus {
        outline: none;
    }
    
    .position__box span {
        font-size: var(--small-font-size);
    }
    
    .ps__checkbox {
        margin-top: var(--small-margin-size);
    }
    .ab__checkbox {
        display: flex;
        flex-wrap: wrap;
        margin-top: var(--small-margin-size);
    }
    
    .ps__checkbox,
    .ab__checkbox {
        display: flex;
        justify-content: space-around;
    }
    
    .ps__checkbox > span {
        font-size: var(--main-font-size);
        width: 30%;
        margin-right: 0;
        height: var(--btn-height);
        padding: 0;
        line-height: var(--btn-height);
    }

    .location__container > .location__data > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}