.MyInfo {
  text-align: center;
  width: 500px;
}

.MyInfo > h2 {
  font-size: var(--xlarge-font-size);
  margin: var(--mid-margin-size) 0;
}

.phone > p,
.height > p,
.position > p,
.location > p {
  font-weight: bold;
  margin: var(--large-margin-size) 0 0;
}

.phoneForm > input {
  border: none;
  border-radius: 5px;
  background-color: var(--grey-color);
  width: 120px;
  height: var(--btn-height);
  margin-top: var(--main-font-size);
  text-align: end;
  padding-right: var(--main-margin-size);
}

.heightForm > input {
  border: none;
  border-radius: 5px;
  background-color: var(--grey-color);
  width: 120px;
  height: var(--btn-height);
  margin-top: var(--main-font-size);
  text-align: end;
  padding-right: var(--main-margin-size);
}

.heightForm > span {
  position: absolute;
  transform: translate(20%, 70%);
}

.positionForm > input {
  display: none;
}

.positionForm > span {
  font-size: var(--main-font-size);
  margin:  var(--main-margin-size) var(--main-margin-size) 0;
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 70px;
  height: var(--btn-height);
  line-height: var(--btn-height);
  background-color: var(--grey-color);
}

.positionForm > .checked {
  background-color: var(--main-color);
  color: white;
}

.location__box {
  margin: var(--small-margin-size) 0 0;
}

.location__box > span {
  line-height: 70px;
}

.location > .location__box {
  margin-top: var(--main-margin-size);
}

.location > .location__box > div {
  display: flex;
  font-size: var(--main-font-size);
  align-items: center;
  justify-content: center;
  margin: var(--small-margin-size) 0;
}

.location > .location__box > div > div {
  display: flex;
}

.location > .location__box > div > div > p {
  height: var(--btn-height);
  line-height: var(--btn-height);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 70px;
  margin: 0 var(--main-margin-size);
  background-color: var(--grey-color);
}

@media screen and (max-width: 1024px) {
  .MyInfo {
    width: 100vw;
  }
  
  .MyInfo > h2 {
    font-size: var(--large-font-size);
    margin: var(--mid-margin-size) 0;
  }
  
  .phone > p,
  .height > p,
  .position > p,
  .location > p {
    margin: var(--mid-margin-size) 0 0;
    font-size: var(--mid-font-size);
  }
  .location > .location__box > div {
    display: flex;
    font-size: var(--main-font-size);
    align-items: center;
    justify-content: center;
    margin: var(--small-margin-size) 0;
  }
  
  .location > .location__box > div > p {
    width: 70px;
    height: var(--btn-height);
    line-height: var(--btn-height);
    margin: 0 var(--main-margin-size);
  }
  
  .location > .location__box > div > div {
    display: flex;
  }
  
  .location > .location__box > div > div > p {
    height: var(--btn-height);
    line-height: var(--btn-height);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 70px;
    margin: 0 var(--main-margin-size);
    background-color: var(--grey-color);
  }
}