.MyInfo {
  text-align: center;
  width: 500px;
}

.MyInfo > h2 {
  font-size: var(--xlarge-font-size);
  margin: var(--mid-margin-size) 0;
}

.height > p,
.position > p,
.location > p {
  font-weight: bold;
  margin: var(--large-margin-size) 0 0;
}

.heightForm > input {
  border: none;
  border-radius: 5px;
  background-color: var(--grey-color);
  width: 100px;
  height: var(--btn-height);
  margin-top: var(--main-font-size);
}

.heightForm > input:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.heightForm > span {
  position: absolute;
  transform: translate(20%, 70%);
}

.btn__update {
  margin: var(--small-margin-size) 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  width: 50px;
  height: 20px;
  background-color: white;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.positionForm > input {
  display: none;
}

.positionForm > span {
  font-size: var(--main-font-size);
  margin:  var(--main-margin-size) var(--main-margin-size) 0;
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 20px;
  background-color: var(--grey-color);
}

.positionForm > .checked {
  background-color: var(--main-color);
  color: white;
}

.location__box {
  display: flex;
  justify-content: center;
  margin: var(--small-margin-size) 0 0;
}

.location__box > select {
  margin-right: var(--mid-margin-size);
}

.location__box > span {
  line-height: 70px;
}

.noclick {
  pointer-events: none;
}

.noclick::after {
  content: "";
  display: none;
  background-color: black;
}