.score__container {
  width: 500px;
  border-right: 1px solid var(--grey);
}

.match__container {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.match__container > div {
  width: 200px;
  height: 130px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--main-font-size);
  box-shadow: 0 3px 2px var(--grey);
}

.match__container > .manner_box {
  background-color: #C8FACD;
  color: #005249;
}

.match__container > .score_box {
  background-color: #D0F2FF;
  color: #04297A ;
}

.match__container > div > .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.match__container > div > p:nth-child(2) {
  font-weight: bold;
  font-size: var(--mid-font-size);
  margin: 2px 0;
}

.match__container > .manner_box > .logo {
  background-color: #A4E3B7;
}

.match__container > .score_box > .logo {
  background-color: #AED7F3;
}

.match__container > div > .logo > img {
  width: 25px;
  height: 25px;
  transform: translate(0, 40%);
}

.match_result {
  margin-top: var(--large-margin-size);
  text-align: center;
}

.match_result > h3 {
  font-size: var(--large-font-size);
  font-weight: normal;
  color: var(--main-color);
}

@media screen and (max-width: 1024px) {
  .score__container {
    width: 90%;
    border-right: none;
    border-bottom: 1px solid var(--grey);
    margin: 0 auto;
  }

  .match__container {
    width: 100%;
  }
  
  .match__container > div {
    width: 48%;
    height: 110px;
    font-size: var(--small-font-size);
  }
  
  .match__container > div > .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
  }
  
  .match__container > div > p:nth-child(2) {
    font-size: var(--main-font-size);
  }
  
}