.changePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changePassword__logo {
  width: var(--logo-width);
}

.changePassword > .changePasswordForm > .changePasswordForm__component > label {
  font-size: var(--mid-font-size);
}

.changePassword > .changePasswordForm > .changePasswordForm__component > .inputBox {
  width: var(--logo-width);
  font-size: var(--main-font-size);
}

.changePassword > .changePasswordForm > .changePasswordForm__component > .errorMessage {
  font-size: var(--small-font-size);
  width: var(--logo-width)
}

.changePassword > .changePasswordForm > button {
  width: var(--logo-width)
}