.changePassword {
  min-height: 80vh;
  width: 300px;
  margin: var(--xlarge-margin-size) auto 0;
  margin-top: 100px;
}

.changePassword > h4 {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-position: under;
  font-size: var(--large-font-size);
  font-weight: normal;
  margin-bottom: 30px;
}

.changePassword > .changePasswordForm > .changePasswordForm__component > .inputBox {
  width: var(--logo-width);
  font-size: var(--main-font-size);
}

.changePassword > .changePasswordForm > .changePasswordForm__component > .errorMessage {
  font-size: var(--small-font-size);
  width: var(--logo-width);
}

.changePassword > .changePasswordForm > button {
  width: var(--logo-width);
}

@media screen and (max-width: 1024px) {
  .changePassword {
    width: 80%;
  }
  
  .changePassword > .changePasswordForm > .changePasswordForm__component {
    width: 80vw;
  }

  .changePassword > h4 {
    font-size: var(--mid-font-size);
  }

  .changePassword > .changePasswordForm > .changePasswordForm__component > .inputBox {
    font-size: var(--small-font-size);
    width: 80vw;
  }

  .changePassword > .changePasswordForm > button {
    margin-top: 10px;
    width:100% !important;
  }
}
