.findpw {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.findpw > img {
  width: var(--logo-width);
}

#findPasswordTitle {
  color: var(--main-color);
  margin-bottom: 20px;
  display: inline-block;
  width: 340px;
}

@media screen and (max-width: 1024px) {
  #findPasswordTitle {
    width: 300px;
  }
  .sendpw {
    width: 300px;
  }

  .sendpw > .email__info {
    width: 100%;
  }

  .sendpw > .email__info > input {
    width: 100%;
  }

  .sendpw > button {
    width: 300px !important;
  }
}
