.loginForm {
  margin-top: var(--large-margin-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.loginForm > p {
  display: inline-block;
  text-align: start;
  width: 300px;
  font-size: var(--main-font-size);
}

.loginForm > p > span {
  color: var(--main-color);
  font-weight: bold;
}

.login__logo {
  width: var(--logo-width);
}

.userKind {
  margin-top: var(--large-margin-size);
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: var(--main-font-size);
}

.userKindRadio > input {
  display: none;
}

.userKind > label {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.userKind > label:hover > span {
  font-size: var(--main-font-size);
}

.userKind > label > span {
  transition: font-size 0.5s;
}

.userKind > .selected {
  font-size: var(--main-font-size);
  color: var(--main-color);
}

/* 애니메이션 관련 css 시작*/
.userKind > label:nth-child(1).selected::before {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: height 0.2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(1).selected::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: width 0.2s 0.2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).selected > span::after {
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: height 0.2s 0.4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).unselected::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: width 0.2s 0.6s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected::before {
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: height 0.2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(2).selected::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: width 0.2s 0.2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected > span::after {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: height 0.2s 0.4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).unselected::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: width 0.2s 0.6s;
  animation-fill-mode: backwards;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

/* 애니메이션 관련 css 끝*/

.emailbox,
.passwordbox {
  font-size: var(--mid-font-size);
  margin-top: 15px;
}

.emailbox > input,
.passwordbox > input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--grey-color);
  width: 100%;
  height: 40px;
  padding-left: var(--small-margin-size);
  margin-top: var(--small-margin-size);
}

.userHelp {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 12px;
  color: var(--main-color);
  margin-top: 20px;
}

.userHelp > a:hover {
  text-decoration: underline;
}

.loginForm > form > button {
  cursor: pointer;
  font-size: var(--main-font-size);
  width: 100%;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

@media screen and (max-width: 1024px) {
  .loginForm {
    width: 100%;
  }

  .loginForm > p {
    width: 80%;
  }

.userKind {
  width: 80vw;
}

  .userKind > label {
    width: 50%;
  }
}
