.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: var(--logo-width);
}

.userKind {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--large-margin-size);
  font-size: var(--mid-font-size);
}

.userKindRadio > input {
  display: none;
}

.userKind > label {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.userKind > label:hover > span{
  font-size: var(--large-font-size);
  font-weight: bold;
}

.userKind > label > span{
  transition: font-size .5s;
}

.userKind > .selected {
  font-weight: bold;
  font-size: var(--large-font-size);
  color: var(--main-color);
}

/* 애니메이션 관련 css 시작*/
.userKind > label:nth-child(1).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(1).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(2).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}



@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* 애니메이션 관련 css 끝*/

.emailbox,
.passwordbox {
  margin: var(--mid-margin-size) 0 var(--main-margin-size);
  font-size: var(--mid-font-size);
}

.emailbox > input,
.passwordbox > input
{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--grey-color);
  width: 100%;
  height: var(--btn-height);
  padding-left: var(--small-margin-size);
  margin-top: var(--small-margin-size);
}

.userHelp {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: var(--main-font-size);
  color: rgba(0, 0, 0, 0.5);
}

.userHelp > a:hover {
  text-decoration: underline;
}

.loginForm > form > button {
  cursor: pointer;
  font-weight: bold;
  font-size: var(--main-font-size);
  width: 100%;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

.googleLogin {
  font-size: var(--main-font-size);
  width: 100%;
  background-color: var(--grey-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  height: var(--btn-height);
  width: 340px;
  line-height: var(--btn-height);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#google__logo  {
  height: var(--small-picture);
  margin-right: var(--small-margin-size)
}