.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.login__logo {
  width: 300px;
}

.userKind {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.userKindRadio > input {
  display: none;
}

.userKind > label {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* 애니메이션 관련 css 시작*/
.userKind > label:nth-child(1).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid #ffad4e;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(1).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid #ffad4e;
  position: absolute;
  top: 0;
  left: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid #ffad4e;
  position: absolute;
  top: 0;
  right: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #ffad4e;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid #ffad4e;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.userKind > label:nth-child(2).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid #ffad4e;
  position: absolute;
  top: 0;
  right: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(2).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid #ffad4e;
  position: absolute;
  top: 0;
  left: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.userKind > label:nth-child(1).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #ffad4e;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}



@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* 애니메이션 관련 css 끝*/

.emailbox {
  margin-bottom: 20px;
}

.emailbox > input,
.passwordbox > input
{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 100%;
  height: 35px;
}

.userHelp {
  display: flex;
  justify-content: space-between;
}

.userHelp > a:hover {
  text-decoration: underline;
}

.loginForm > form > button {
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  color: white;
  background-color: #ffad4e;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 30px 0 50px;
}

.googleLogin {
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #ffad4e;
  border-radius: 5px;
  height: 30px;
  width: 348px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#google__logo  {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}