.profile__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile__div > .user__profile {
  border-radius: 10px;
  background-color: var(--bright-grey);
  width: 60%;
  padding: var(--main-margin-size) 0;
  box-shadow: 0px 3px 2px var(--grey);
}

.profile__div > .user__profile > .profile_img_update {
  display: none;
}

.profile__div > .user__profile > .profile_img_update > form > button {
  margin-left: var(--small-margin-size);
  cursor: pointer;
  font-size: var(--main-font-size);
  border: none;
  height: var(--btn-height);
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  width: 50px;;
}

.user__profile {
  text-align: center;
}

.user__profile > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: scale-down;
  object-position: center;
  cursor: pointer;
}

.user__profile > #nickname {
  margin-top: var(--main-margin-size);
  font-size: var(--large-font-size);
}

.user__profile > #email,
.user__profile > #birth {
  font-size: var(--mid-font-size);
}

.user__profile > #birth {
  margin-bottom: var(--main-margin-size);;
}

.user__profile > .businessAccount {
  margin-top: var(--main-margin-size);;
}

.left_right_profile {
  display: flex;
  justify-content: space-between;
  margin-top: var(--mid-margin-size);
}

.accountSetting {
  background-color: var(--bright-grey);
  width: 100%;
  text-align: center;
  margin-top: var(--main-margin-size);
  padding-bottom: var(--main-margin-size);
}

.accountSetting > h2{
  margin: var(--mid-margin-size) 0;
  color: var(--main-color);
  font-weight: normal;
  font-size: var(--mid-font-size);
}

.accountSetting span {
  margin: 0 var(--large-margin-size);
  cursor: pointer;
}

.save__btn {
  cursor: pointer;
  font-size: var(--main-font-size);
  color: var(--main-color);
  border: none;
  background-color: white;
  margin: var(--main-margin-size);
  text-decoration: underline;
  text-underline-position: under;
}

.user__profile > .businessAccount {
  margin: var(--small-margin-size) 0 0;
  font-size: var(--mid-font-size);
  text-align: center;
}

.quit__btn {
  color: rgba(0,0,0,0.7);
  font-size: var(--mid-font-size);
}

.bus_reg_show {
  font-size: var(--main-font-size);
  color: var(--main-color);
}

.business_registration {
  width: 80%;
  display: none;
  margin-top: var(--main-margin-size);
}

.business_registration > img {
  width: 100%;
  object-fit: contain;
}

.business_registration > div > input {
  width: 50%;
}

.business_registration > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.business_registration > div > button {
  width: 40px;
  height: 30px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.business_registration > div > button:nth-child(2) {
  background-color: var(--main-color);
}

.business_registration > div > button:nth-child(3) {
  background-color: var(--red);
}

@media screen and (max-width: 1024px) {
  .profile__div {
    width: 100vw;
  }
  
  .profile__div > .user__profile {
    width: 80%;
  }
  
  .user__profile > img {
    width: 70px;
    height: 70px;
  }
  
  .user__profile > #nickname {
    margin-top: var(--small-margin-size);
    font-size: var(--main-font-size);
  }
  
  .user__profile > #email,
  .user__profile > #birth {
    font-size: var(--small-font-size);
  }
  
  .left_right_profile {
    flex-direction: column;
    justify-content: center;
    margin-top: var(--small-margin-size);
  }
  .accountSetting {
    font-size: var(--small-font-size);
  }
  
  .accountSetting > h2{
    margin: var(--main-margin-size) 0;
  }
  
  .accountSetting span {
    margin: 0 var(--main-margin-size);
  }
  
  .user__profile > .businessAccount {
    margin-top: var(--small-margin-size);
    font-size: var(--small-font-size);
    text-align: center;
  }
  
  .quit__btn {
    font-size: var(--small-font-size);
  }

  .save__btn {
    width: 70%;
    border: none;
    border-radius: 5px;
    height: var(--btn-height);
    margin: var(--small-margin-size) 0;
  }

  .profile_img_update {
    justify-content: center;
  }

  .profile_img_update > form {
    width: 70%;
  }

  .profile_img_update > form > input {
    width: 68%;
  }

  .profile_img_update > button {
    margin-left: var(--small-margin-size);
    cursor: pointer;
    font-size: var(--main-font-size);
    border: none;
    height: var(--btn-height);
    border-radius: 5px;
    background-color: var(--red);
    color: white;
    width: 50px;
  }
}