/* Register */
.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--xlarge-margin-size);
}

.register__container > p {
  font-size: var(--main-font-size);
  width: 340px;
  text-align: start;
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--main-color);
}

.registerForm__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm__component {
  width: 340px;
  margin-bottom: var(--main-margin-size);
}

.change_to_business {
  text-align: center;
}

.errorMessage {
  font-size: var(--small-font-size);
  color: var(--red);
  margin-bottom: var(--small-margin-size);
}

input:focus {
  outline-color: var(--main-color);
  border-radius: 10px;
}

.inputBox {
  display: block;
  position: relative;
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: var(--main-font-size);
  padding-left: var(--main-margin-size);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.register__birthForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.register__birthYear {
  display: table-cell;
  width: 100px;
  height: 40px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: var(--main-font-size);
  padding-left: var(--main-margin-size);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.register__birthMonth {
  display: table-cell;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 10px;
  font-size: var(--main-font-size);
  padding-left: var(--main-margin-size);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.register__birthDay {
  display: table-cell;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: var(--main-font-size);
  padding-left: var(--main-margin-size);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.registerForm__button {
  cursor: pointer;
  font-size: var(--main-font-size);
  width: 100%;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

.register__button {
  background: var(--main-color);
  border-radius: 10px;
  border: none;
  color: white;
}

.duplicationCheck__button {
  width: 70px;
  display: block;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: var(--small-font-size);
  font-weight: normal;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.change_to_business div {
  color: black;
  font-size: var(--main-font-size);
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

.change_to_business__button {
  background: var(--dark-blue);
  color: white;
  width: 340px;
  height: var(--btn-height);
  margin: 0;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  pointer-events: none;
}

.input_relative_box {
  position: relative;
}

/* Register Complete */
.registerComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerComplete__logo {
  width: 400px;
}

.registerComplete__comments {
  text-align: center;
}

.registerComplete__comments div {
  margin: 15px;
}

.registerComplete__email {
  color: var(--main-color);
}

.registerComplete__excuse {
  font-size: small;
}

/* 애니메이션 관련 css 시작*/
.register__userKind {
  display: flex;
  justify-content: space-around;
  margin-top: var(--large-margin-size);
  margin-bottom: var(--large-margin-size);
  font-size: var(--main-font-size);
}

.register__userKind > .userKindRadio > input {
  display: none;
}

.register__userKind > label {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.register__userKind > label:hover > span{
  font-size: var(--main-font-size);
}

.register__userKind > label > span{
  transition: font-size .5s;
}

.register__userKind > .selected {
  font-size: var(--main-font-size);
  color: var(--main-color);
}

.register__userKind > label:nth-child(1).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.register__userKind > label:nth-child(1).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(1).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.register__userKind > label:nth-child(2).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(1).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}



@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* 애니메이션 관련 css 끝*/

@media screen and (max-width: 1024px) {
  .register__container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .register__container > p {
    width: 300px;
    display: inline-block;
  }
  .register__userKind {
    width: 300px;
  }

  .userKind > label {
    width: 150px;
  }
  
  .registerForm__component {
    width: 300px;
  }

  .inputBox {
    width: 300px;
  }

  .birthYear {
    width: 90px;
  }
  
  .register__birthMonth {
    width: 90px;
  }
  
  .register__birthDay {
    width: 90px;
  }
  
  .registerForm__button {
    width: 300px !important;
  }
}