/* Register */
.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__container > p {
  font-size: var(--xlarge-font-size);
  font-style: italic;
  width: 450px;
  text-align: center;
  letter-spacing: 7px;
}

.register__container > p:nth-child(1) {
  font-weight: bold;
  font-size: 28px;
  transform: translate(15px, 0);
}

.register__container > p > span {
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--xxlarge-font-size);
}

.register__container > p > img {
  width: 150px;
  transform: translate(0, 20px);
}


.registerForm {
  display: flex;
  justify-content: center;
}

.registerForm__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm__component {
  width: 340px;
  margin-bottom: var(--main-margin-size);
}

.registerForm__component > label {
  font-size: var(--mid-font-size);
}

.change_to_business {
  text-align: center;
}

.errorMessage {
  font-size: var(--small-font-size);
  color: red;
  margin-bottom: var(--small-margin-size);
}

input:focus {
  outline-color: #FFAD4E;
}

.inputBox {
  display: block;
  position: relative;
  width: 340px;
  height: var(--btn-height);
  border: none;
  border-radius: 5px;
  background: var(--grey-color);
  font-size: var(--main-font-size);
  padding-left: var(--main-margin-size);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.register__birthForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register__birthYear {
  display: table-cell;
  width: 80px;
  height: var(--btn-height);
  margin-right: 5px;
  border: none;
  background: var(--grey-color);
  border-radius: 5px;
}

.register__birthMonth {
  display: table-cell;
  width: 80px;
  height: var(--btn-height);
  vertical-align: middle;
  margin-right: 5px;
  border: none;
  background: var(--grey-color);
  border-radius: 5px;
}

.register__birthDay {
  display: table-cell;
  width: 80px;
  height:  var(--btn-height);
  border: none;
  background: var(--grey-color);
  border-radius: 5px;
}

.registerForm__button {
  cursor: pointer;
  font-weight: bold;
  font-size: var(--main-font-size);
  width: 100%;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

.register__button {
  background: var(--main-color);
  border: none;
  color: white;
}

.duplicationCheck__button {
  width: 100px;
  display: block;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  color: var(--grey-color);
  font-size: var(--main-font-size);
  height: 20px;
  margin: var(--main-margin-size) 0 0 auto;
}

.change_to_business div {
  color: black;
  font-size: var(--mid-font-size);
  margin: var(--large-margin-size) 0 var(--small-margin-size);
}

.change_to_business__button {
  background: var(--dark-blue);
  color: white;
  width: 340px;
  height: var(--btn-height);
  margin: 0;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  pointer-events: none;
}

/* Register Complete */
.registerComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerComplete__logo {
  width: 400px;
}

.registerComplete__comments {
  text-align: center;
}

.registerComplete__comments div {
  margin: 15px;
}

.registerComplete__email {
  color: #FFAD4E;
}

.registerComplete__excuse {
  font-size: small;
}

/* 애니메이션 관련 css 시작*/
.register__userKind {
  display: flex;
  justify-content: space-around;
  margin-top: var(--large-margin-size);
  margin-bottom: var(--large-margin-size);
  font-size: var(--mid-font-size);
}

.register__userKind > .userKindRadio > input {
  display: none;
}

.register__userKind > label {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.register__userKind > label:hover > span{
  font-size: var(--large-font-size);
  font-weight: bold;
}

.register__userKind > label > span{
  transition: font-size .5s;
}

.register__userKind > .selected {
  font-weight: bold;
  font-size: var(--large-font-size);
  color: var(--main-color);
}

.register__userKind > label:nth-child(1).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.register__userKind > label:nth-child(1).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(1).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).selected::before {
  content:"";
  width: 1px;
  height: 100%;
  border-right: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: height .2s;
  animation-fill-mode: forwards;
}

.register__userKind > label:nth-child(2).selected::after {
  content:"";
  width: 100%;
  height: 1px;
  border-top: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  animation: width .2s .2s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(2).selected > span::after {
  content:"";
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: height .2s .4s;
  animation-fill-mode: backwards;
}

.register__userKind > label:nth-child(1).unselected::before {
  content:"";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: width .2s .6s;
  animation-fill-mode: backwards;
}



@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* 애니메이션 관련 css 끝*/