* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

.App > div:nth-child(4) {
    min-height: 80vh;
}

:root {
    /* 색상 정보 */
    --main-color: #ffad4e;
    --dark-orange: #f28a2e;
    --grey-color: #f8f8f8;
    --dark-blue: #0a1840;

    /* 폰트 사이트 */
    --small-font-size: 10px;
    --main-font-size: 12px;
    --mid-font-size: 14px;
    --large-font-size: 18px;
    --xlarge-font-size: 24px;
    --xxlarge-font-size: 36px;

    /* margin, padding */
    --small-margin-size: 6px;
    --main-margin-size: 12px;
    --mid-margin-size: 24px;
    --large-margin-size: 30px;
    --xlarge-margin-size: 54px;

    /* 버튼 크기 */
    --btn-height: 30px;

    /* 사진 크기 */
    --small-picture: 20px;
    --logo-width: 300px;
}