.header__container {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	padding-top: var(--main-margin-size);
	margin-bottom: var(--main-margin-size);
}

.header__symbol {
	width: 70px;
}

.header__icons > .right_side > img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
}

.header__icons > .right_side {
	position: relative;
}

.header__icons > .right_side > .profile_info {
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 10px;
	position: absolute;
	right: 0;
	display: none;
	box-shadow: 1px 1px 4px 2px var(--grey);
}

.header__icons > .right_side > .profile_info > hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

.header__icons > .right_side > .profile_info > div{
	margin: var(--main-margin-size) 10%;
	margin-right: var(--xlarge-margin-size);
}

.header__icons > .right_side > .profile_info > div:nth-child(1){
	margin: var(--small-margin-size) 10% 0 !important;
	text-align: end;
}

.header__icons > .right_side > .profile_info > div:nth-child(1) > span{
	font-size: var(--main-font-size);
	cursor: pointer;
}

.header__icons > .right_side > .profile_info > .user__info > p:nth-child(1) {
	font-size: var(--mid-font-size);
}

.header__icons > .right_side > .profile_info > .user__info > p:nth-child(2) {
	font-size: var(--main-font-size);
}

.header__icons > .right_side > .profile_info > .link_list {
	display: flex;
	flex-direction: column;
	gap: var(--small-margin-size);
}

.header__icons > .right_side > .profile_info > .link_list > a {
	font-size: var(--main-font-size);
	display: flex;
	gap: var(--small-margin-size);
	align-items: center;
	width: 150px;
}

.header__icons > .right_side > .profile_info > .link_list > a > img{
	width: 30px;
	height: 30px;
	margin-right: var(--main-margin-size);
}

.header__icons > .right_side > .profile_info > button {
	display: block;
	height: var(--btn-height);
	background-color: white;
	font-size: var(--main-font-size);
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 80%;
	margin: 0 auto var(--main-margin-size);
}

.header__shadow {
	box-shadow: 0px 1px 10px 1px rgba(5, 5, 5, .2);
	transition: 0.1s;
}

.header {
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.grey__canvas {
	position: fixed;
	top: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100%;
	transition: all 0.5s;
	opacity: 0;
}

.grey__canvas__show {
	z-index: 10;
	opacity: 1;
}

.header__symbol {
	width: 60px;
	object-fit: contain;
}

.header__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__icons > a {
	text-align: center;
	font-size: var(--mid-font-size);
}

.icon {
	text-decoration: none;
}

/* .menu__icon {
	display: flex;
	padding: 10px 0;
	cursor: pointer;
	transition: all .5s;
}

.circle__icon {
	margin: 0 0 0 7px;
	width: 5px;
	height: 5px;
	background-color: black;
	border-radius: 5px;
} */

.offcanvas {
	position: fixed;
	height: 100vh;
	z-index: 11;
	top: 0;
	right: -400px;
	width: 400px;
	text-align: center;
	background-color: white;
	transition: all 0.5s;
}
.offcanvas__close {
	margin: 30px 0 0;
	position: relative;
	left: -160px;
}

.offcanvas__show {
	right: 0 !important;
}

@media screen and (max-width: 1024px) {
	.header {
		width: 80vw;
	}
	
	.offcanvas {
		height: 100%;
		width: 100vw;
		right: -100vw;
	}
	
	.header__symbol {
		width: 50px;
	}

	.header__icons > .right_side > img {
		width: 40px;
		height: 40px;
	}

	.header__icons > .right_side > .profile_info {
		width: 150px;
	}

	.header__icons > .right_side > .profile_info > div{
		margin: var(--main-margin-size) 10%;
		margin-right: var(--xlarge-margin-size);
	}

	.header__icons > .right_side > .profile_info > div:nth-child(2){
		margin-top: 0;
		margin-right: var(--xlarge-margin-size);
	}

	.header__icons > .right_side > .profile_info > .user__info > p:nth-child(1) {
		font-size: var(--main-font-size);
	}

	.header__icons > .right_side > .profile_info > .user__info > p:nth-child(2) {
		font-size: var(--small-font-size);
	}

	.header__icons > .right_side > .profile_info > .link_list > a {
		font-size: var(--small-font-size);
		width: 100px;
	}

	.header__icons > .right_side > .profile_info > .link_list > a > img{
		width: 16px;
		height: 16px;
	}

	.header__icons > .right_side > .profile_info > button {
		font-size: var(--small-font-size);
	}
}