.line {
	width: 200px;
	height: 2px;
	background-color: #ffad4e;
	margin: 40px auto;
}

.offcanvas__logo {
	margin: 50px 0;
	width: 200px;
	object-fit: contain;
}

.offcanvas__links > p{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}